.currcurrent-user-main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
}

.current-user-container {
  max-width: 600;
  background-color: var(--red);
}

.main-logo {
}

.title-text ß {
}

.link {
}

.user-info-container {
}

.user-info-wrapper {
}

.user-info-label {
}

.user-info-content {
}
