.sign-up-main {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.input-container {
  width: calc(100% - 30px);
  max-width: 336px;
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description {
  width: 100%;

  font-size: 15px;
  text-align: center;
  line-height: 1;

  color: #07a0a5;
  background-color: #f3f4f7;

  margin-bottom: 20px;
  padding: 10px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 7px;
}

.ceo-logo {
  width: calc(100% - 30px);
  max-width: 300px;
  margin-bottom: 70px;
}

.essential,
.optional {
  width: 100%;
}

.optional {
  margin-top: 30px;
}

.optional .description {
  cursor: pointer;
  transition: background-color 300ms ease;
}

.optional .description:hover {
  background-color: #e8e8ef;
}

.optional .description:active {
  background-color: #e0e0e6;
}

.optional .description .text {
  margin-left: 10px;
  user-select: none;
}

.optional .description input[type='checkbox'] {
  box-shadow: none;
}

.agreement {
  width: 100%;
  margin-top: 30px;
}

.aa-checkbox-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 12px;
}

.aa-checkbox-wrapper label {
  margin-left: 10px;
  flex: 1;
}

.aa-checkbox-wrapper .small {
  font-size: 14px;
}

.register-btn {
  background-color: var(--blue);
  border: 1px solid var(--deep-blue);
  border-radius: 10px;
  color: #fff;
  width: 100%;
  height: var(--input-height);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  margin-top: 30px;
  cursor: pointer;
  font-size: 1rem;
}
