:root {
  --input-height: 49px;
  --input-inner-height: 47px;
  --input-large-height: 79px;
  --input-msg-height: 29px;
  --transition-time: 300ms;
}

.sign-in-main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
  height: 100vh;
}

.sign-in-container {
  width: 100%;
  max-width: var(--input-width);
}

.main-logo {
  width: 258px;
  height: 40px;
  margin-bottom: 45px;
}
