:root {
  --input-height: 49px;
  --input-inner-height: 47px;
  --input-large-height: 79px;
  --input-msg-height: 29px;
  --transition-time: 300ms;
}

.sign-in-main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
  height: 100vh;
}

.sign-in-container {
  text-align: center;
  width: 100%;
  max-width: var(--input-width);
}

.main-logo {
  width: 100%;
  max-width: 258px;
  margin: auto;
  margin-bottom: 45px;
}

.sign-in-btn {
  margin-top: 20px;
}

.join {
  font-size: 15px;
  margin-top: 30px;
  display: inline-block;
}

.join .icon {
  display: inline-block;
  transition: transform 200ms ease;
  font-weight: 700;
  font-size: 1em;
}

.join:hover .icon {
  transform: translateX(30%);
}
