doctype html
html(lang='en')
  head
    title 로그인
    style
      include ./sign-in.css

  body
    div#container
      img.logo(
        src="https://ceo.baemin.com/lockpath/images/logo-ceo.png"
        alt="main-logo"
      )
      h1 사장님, 로그인해주세요!
      form#signin-form
        input.btn-blue.submit(
          type="submit"
          value="배민사장님광장 로그인"
        )
      div.small 아이디/비밀번호 찾기
      div.small 회원가입
    script(type="module")
      include ./sign-in.js